# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# macOS
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
._*
*.swp

# Build output
dist/
build/
*.html
*.pdf
*.pptx
*.png
*.jpeg
*.txt

# Marp CLI cache (if any)
.marp-cli-cache/

# IDE specific
.vscode/
.idea/